.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (min-width: 1200px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 951px) and (min-width: 1199px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 950px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

.thumbnail-row {
    position: relative;
    margin-bottom: 8px;
}

.thumbnail {
    width: 100%;
}

.video-time {
    position: absolute;
    bottom: 11px;
    right: 4px;
    background-color: black;
    color: white;
    font-family: roboto, arial;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    padding: 4px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 48px 1fr;
}

.profile-picture {
    width: 36px;
    border-radius: 20px;
}

.profile-card-container {
    display: flex;
    position: relative;
}

.profile-card {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: -80px;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.127);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s;
}

.profile-card-container:hover .profile-card{
    opacity: 1;
}

.profile-card img {
    width: 54px;
    border-radius: 27px;
    margin-right: 5px;
}

.profile-description {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.profile-name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
}

.profile-subscribers {
    font-size: 14px;
    color: rgb(96, 96, 96);
}

.video-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author {
    margin-bottom: 4px;
}
